// Speci!fic CSS for your home

.content {
  min-height: calc(100vh - 170px);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-image:
      linear-gradient(
      rgba(235, 223, 200, 0.1),
      rgba(235, 223, 200, 0.3),
      ),
      url('banner2.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 8px;

}


.banner h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.8);
  padding: 15px;
  font-size: 50px;
  margin: 0;
}

.banner h2{
  color: black;
  font-weight: bold;
  font-family: "Cinzel", serif;
  text-shadow: 1px 1px 5px rgb(247, 247, 247),2px 2px 15px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin: 10px 0;
  padding: 0px;
}

.banner a{
    display: inline-block;
    padding: 5px 10px;
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin-left: 10px;
    color: white;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.8);
    background-color: #BC424E;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
  }

  .banner a:hover{
    color:white;
    background-color:#a03038 ;
    font-weight: bold;
  }
