
<div class="title"><h1>Necklaces</h1></div>
<div class="cards">
  <% @necklaces.each do |necklace| %>
    <div class="card-trip">
      <%= link_to necklace_path(necklace) do %>
        <h2><%= necklace.name  %></h2>
        <p>Price: £<%= necklace.price  %></p>
      <% end %>
        <%= cl_image_tag necklace.photo.key %>
    </div>
  <% end %>
</div>
