<body class="bg-black">

<%= render 'shared/banner' %>

<%= render 'shared/navbar' %>

<div class="banner">

    <h1>CHARMED</h1>
    <h2>Luxury jewellery for every occasion</h2>

</div>

<%= render 'shared/footer' %>

