<body class="bg-black">


<div class="banner">

    <h1>CHARMED</h1>
    <h2>Luxury jewellery for every occasion</h2>



    <%= link_to "Find your dream necklace", necklaces_path(@necklace), class: "btn btn-primary"%>

</div>
