


.footer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  position:absolute;

  bottom:0px;

  width: 100%;

  align-items: center;
  background-color: black;

}

.footer-buttons {
  display: flex;
  gap: 15px;
}

.footer-button {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #555;
  border-radius: 5px;
}

.footer-button:hover {
  background-color: #777;
}
