


.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: black;
}

.footer-buttons {
  display: flex;
  gap: 15px;
}

.footer-button {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #555;
  border-radius: 5px;
}

.footer-button:hover {
  background-color: #777;
}
