.navbar {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: "Cinzel", serif;

}

.logo {
  flex: 1;
}

.logo-button img {
  height: 80px;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: black;
  border-radius: 3px;
}

.nav-button:hover {
  background-color: #e1c299;
}
